[submodule "dependencies/robotics"]
	path = dependencies/robotics
	url = ssh://git@github.com/the-dargon-project/robotics.git
	branch = master
[submodule "dependencies/commons"]
	path = dependencies/commons
	url = ssh://git@github.com/the-dargon-project/commons.git
	branch = master
[submodule "dependencies/ryu"]
	path = dependencies/ryu
	url = ssh://git@github.com/the-dargon-project/ryu.git
	branch = master
[submodule "dependencies/vox"]
	path = dependencies/vox
	url = ssh://git@github.com/the-dargon-project/vox.git
	branch = master
[submodule "dependencies/courier"]
	path = dependencies/courier
	url = ssh://git@github.com/the-dargon-project/courier.git
	branch = master
